<tr>
    <td><input class="tableInput numberInput" type="number" value=<%= data.number %> readonly></td>
    <td><input class="tableInput changeInput" type="number" oninput="startTimeout(this)" value=<%= data.change %> ></td>
    <td>
        <select class="tableInput statusInput" onchange="statusChange(this); startTimeout(this)">
            <option value="Not Here" <%= data.status == "Not Here"? "selected" : "" %>>Not Here</option>
            <option value="Next Wave" <%= data.status == "Next Wave"? "selected" : "" %>>Next Wave</option>
            <option value="Loading" <%= data.status == "Loading"? "selected" : ""%>>Loading</option>
            <option value="Gone" <%= data.status == "Gone"? "selected" : "" %>>Gone</option>
        </select>
    </td>
    <td><input class="tableInput timeInput" type="text"  oninput="startTimeout(this)"value=<%= data.time %> ></td>
    <td class="deleteBus"><i class="fas fa-times" onclick="confirmRemove(this);"></i></td>
</tr>