<div class="header">
    <div class="buttons">
        <button class="button" onclick="newBus()">Add Bus</button>
        <a class="button" href="/updateBusList">Update Bus List</a>
        <a class="button" href="/">Back to hompage</a>
        
    </div>
</div>
<table id="bus-table" class="bus-table">
    <thead>
        <tr>
            <th>Bus Number</th>
            <th>Bus Change</th>
            <th>Status</th>
            <th>Time</th>
            <th class="remove-col"></th>
        </tr>
    </thead>
    <tbody id="tbody">
    <% for(let i = 0; i < data.buses.length; i++) { %> 
        <tr>
            <td><input class="tableInput numberInput" type="number" value=<%= data.buses[i].number %> readonly></td>
            <td><input class="tableInput changeInput" type="number" oninput="startTimeout(this)" value=<%= data.buses[i].change %> ></td>
            <td>
                <select class="tableInput statusInput" onchange="statusChange(this); startTimeout(this)">
                    <option value="Not Here" <%= data.buses[i].status == "Not Here"? "selected" : "" %>>Not Here</option>
                    <option value="Next Wave" <%= data.buses[i].status == "Next Wave"? "selected" : "" %>>Next Wave</option>
                    <option value="Loading" <%= data.buses[i].status == "Loading"? "selected" : "" %>>Loading</option>
                    <option value="Gone" <%= data.buses[i].status == "Gone"? "selected" : "" %>>Gone</option>
                </select>
            </td>
            <td><input class="tableInput timeInput" type="text" oninput="startTimeout(this)" value=<%= data.buses[i].time %> ></td>
            
            <td class="remove-col"><i class="fas fa-times" onclick="confirmRemove(this);"></i></td>
        </tr>
    <% } %> 
    </tbody>
</table>
