<div class="header">
    
    <div class="buttons">
        <a class="button" href="/updateBusList">Update Bus List</a>
        <button class="button" onclick="addAdmin()">Add New Admin</button> <!--new button to redirect to whitelist page-->
        <a class="button" href="/">Back to homepage</a>
        <a class="button" href="/makeAnnouncement">Make Announcement</a>
    </div>
    <script>
        function addAdmin() {
            location.replace("/whitelist")
        }
    </script>
</div>
<table id="bus-table" class="bus-table">
    <thead>
        <tr colspan="5" style="background-color: #05a1f5; font-size: 160%;">
            <th><i class="fa fa-star fa-fw"></i> Current Wave</th>
            <th><button class="table-button">Lock Wave</button></th>
            <th><button class="table-button">Send Wave</button></th>
            <th></th>
        </tr>
        <tr>
            <th>Bus Number</th>
            <th>Bus Change</th>
            <th>Status</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody id="tbody">
        <% for(let i = 0; i < data.allBuses.length; i++) { %>
            <% if (data.allBuses[i].status === 'Loading') { %>
                <tr>
                    <td><input class="tableInput numberInput" type="number" value=<%= data.allBuses[i].number %> readonly></td>
                    <td><input class="tableInput changeInput" type="number" oninput="updateBusChange(this)" value=<%= data.allBuses[i].change %> ></td>
                    <td>
                        <p onclick="removeFromWave(this)">Remove</p>
                    </td>
                    <td><input class="tableInput timeInput" type="text" oninput="startTimeout(this)" value=<%= data.allBuses[i].time %> ></td>
                </tr>
            <% } %>
        <% } %>
    </tbody>
</table>
<table id="bus-table" class="bus-table">
    <thead>
        <tr>
            <th colspan="5" style="background-color: #05a1f5; font-size: 160%;"><i class="fa-solid fa-forward"></i> Next Wave
            </th>
        </tr>
        <tr>
            <th>Bus Number</th>
            <th>Bus Change</th>
            <th>Status</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody id="tbody">
        <% for(let i = 0; i < data.allBuses.length; i++) { %> 
            <% if (data.allBuses[i].status === 'Next Wave') { %>
                <tr>
                    <td><input class="tableInput numberInput" type="number" value=<%= data.allBuses[i].number %> readonly></td>
                    <td><input class="tableInput changeInput" type="number" oninput="updateBusChange(this)" value=<%= data.allBuses[i].change %> ></td>
                    <td>
                        <p onclick="removeFromWave(this)">Remove</p>
                    </td>
                    <td><input class="tableInput timeInput" type="text" oninput="startTimeout(this)" value=<%= data.allBuses[i].time %> ></td>
                </tr>
            <% } %>
        <% } %>
    </tbody>
</table>
<table id="bus-table" class="bus-table">
    <thead>
        <tr>
            <th>Bus Number</th>
            <th>Bus Change</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody id="tbody">
        <% for(let i = 0; i < data.allBuses.length; i++) { %> 
            <tr>
                <td><input class="tableInput numberInput" type="number" value=<%= data.allBuses[i].number %> readonly></td>
                <td><input class="tableInput changeInput" type="number" oninput="updateBusChange(this)" value=<%= data.allBuses[i].change %> ></td>
                
                <td><input class="tableInput timeInput" type="text" oninput="startTimeout(this)" value=<%= data.allBuses[i].time %> ></td>
                
                <td>
                    <% if (data.allBuses[i].status === 'Loading') { %>
                        <p>Loading</p>
                    <% } else if (data.allBuses[i].status === 'Next Wave') { %>
                        <p>Next Wave</p>
                    <% } else if (data.allBuses[i].status !== 'Loading' && data.numberInWave >= 8) { %>
                        <p onclick="addToNextWave(this)">Add Next</p>
                    <% } else { %>
                        <p onclick="addToWave(this)">Add Current</p>
                    <% } %>
                </td>
                
            </tr>
        <% } %> 
    </tbody>
</table>
