<div class="header">
    <div class="weather-container">    
        <div class="weather-temperature">
            <p><%= data.weather.temperature %>°F</p>
        </div>
        <div class="weather-status">
            <p><%= data.weather.status %> </p>
        </div>
        <div class="weather-img">
            <img src=<%= data.weather.icon %>>
        </div>
    </div>
    <div class="login-container">
        <a class="login-button" href="/admin">Login as editor</a>
    </div>
</div>
<table class="bus-table">
    <thead>
        <tr>
            <th>Bus Number</th>
            <th>Bus Change</th>
            <th>Status</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
    <% for(let i = 0; i < data.buses.length; i++) { %> 
        <tr>
            <td><%= data.buses[i].number %></td>
            <td><%= data.buses[i].change %></td>
            <td><%= data.buses[i].status %></td>
            <td><%= data.buses[i].time %></td>                
        </tr>
    <% } %> 
    </tbody>

</table>