<div class="header">
    <div class="weather-container">    
        <div class="weather-temperature">
            <p><%= data.weather.temperature %>°F</p>
        </div>
        <div class="weather-status">
            <p><%= data.weather.status %> </p>
        </div>
        <div class="weather-img">
            <img src=<%= data.weather.icon %>>
        </div>
    </div>
    <div class="login-container">
        <a class="notif-button" onclick="requestNotificationPermission()">Notifications</a>
        <a class="login-button" href="/admin">Login as editor</a>
    </div>
</div>
<div class="tables-container">
    <div id="buses">
        <!-- pins -->
        <table class="bus-table" id="pin-bus-table">
            <thead>
                <tr>
                    <th colspan="4" style="background-color: #bf2214; font-size: 160%;"><i class="fa-solid fa-thumbtack fa-fw"></i> Pinned Buses</th>
                </tr>
                <tr>
                    <th class="num-col">Bus #</th>
                    <th class="status-col">Status</th>
                    <th class="time-col">Time</th>
                    <th class="pin-col">Pin?</th>
                </tr>
            </thead>
            <tbody id="pin-bus-rows">
            <% for(let i = 0; i < data.buses.length; i++) { %>
                <tr>
                    <td class="num-col"><%= data.buses[i].number %> <% if (data.buses[i].change) { %><span style="color:grey">(<%= data.buses[i].change %>)</span><% } %></td>
                    <td class="status-col"><%= data.buses[i].status %></td>
                    <td class="time-col"><%= data.buses[i].time %></td>
                    <td class="pin-col"><button class="pin-button" style="background-color: #bf2214" onclick="pinBus(this)"><i class="fa-solid fa-thumbtack"></i> Unpin</button></td>             
                </tr>
            <% } %> 
                <tr>
                    <td colspan="4" style="text-align:center">No buses pinned.</td>
                </tr>
            </tbody>
        </table>
        <!-- all buses -->
        <table class="bus-table" id="all-bus-table">
            <thead>
                <tr>
                    <th colspan="4" style="background-color: #05a1f5; font-size: 160%;"><i class="fa fa-star fa-fw"></i> All Buses</th>
                </tr>
                <tr>
                    <th class="num-col">Bus #</th>
                    <th class="status-col">Status</th>
                    <th class="time-col">Time</th>
                    <th class="pin-col">Pin?</th>
                </tr>
            </thead>
            <tbody id="all-bus-rows">
            <% for(let i = 0; i < data.buses.length; i++) { %> 
                <tr>
                    <td class="num-col"><%= data.buses[i].number %> <% if (data.buses[i].change) { %><span style="color:grey">(<%= data.buses[i].change %>)</span><% } %></td>
                    <td class="status-col"><%= data.buses[i].status %></td>
                    <td class="time-col"><%= data.buses[i].time %></td>
                    <td class="pin-col"><button class="pin-button" onclick="pinBus(this)"><i class="fa-solid fa-thumbtack"></i> Pin</button></td>
                </tr>
            <% } %> 
            </tbody>
        </table>
    </div>
</div>