<table class="bus-table" id="pin-bus-table">
    <thead>
        <tr>
            <th class="num-col">Bus #</th>
            <th class="change-col">Bus Change</th>
            <th class="status-col">Status</th>
            <th class="time-col">Time</th>
            <th class="pin-col">Pin?</th>
        </tr>
    </thead>
    <tbody id="all-bus-rows">
    <% for(let i = 0; i < buses.length; i++) { %>
        <tr>
            <td class="num-col"><%= buses[i].number %></td>
            <td class="change-col"><%= buses[i].change %></td>
            <td class="status-col"><%= buses[i].status %></td>
            <td class="time-col"><%= buses[i].time %></td>
            <td class="pin-col"><button class="pin-button" onclick="pinBus(this)"><i class="fa-solid fa-thumbtack"></i> Pin <%= buses[i].number %></button></td>             
        </tr>
    <% } %> 
        <tr>
            <td colspan="5" style="text-align:center">No buses pinned.</td>
        </tr>
    </tbody>
</table>