<!-- This is the indexContent for the TV page-->

<div class="header">
    <div class="weather-container">    
        <div class="weather-temperature">
            <p><%= data.weather.temperature %>°F</p>
        </div>
        <div class="weather-status">
            <p><%= data.weather.status %> </p>
        </div>
        <div class="weather-img">
            <img src=<%= data.weather.icon %>>
        </div>
            <!-- <p>Feels like: <%= data.weather.feelsLike %>°F</p> -->
    </div>
    <div class="image-container">
        <img src="/img/busappqrcode.png" id="qr-image">
    </div>
    <% if(announcement != "") { %>
        <table class="announcement-table" id="announcement-table">
            <thead>
                <tr>
                    <th style="background-color: #838BC2; font-size: 310%; padding-top: 2px; padding-bottom: 2px; padding-left: 10px;"><i class="fa-solid fa-bullhorn fa-fw"></i> Announcement</th>
                </tr>
            </thead>
            <tbody>
                <td class="announcement"><%= announcement %></td>
            </tbody>
        </table>
    <% } %>
</div>
<!-- TV STUFF START-->
<div class="tvGridContainer">
    <div class="row1-8">
        <table class="bus-table">
            <thead>
                <tr class="heading">
                    <th class="num-col">Bus # &rarr; Change</th>
                    <th class="status-col">Status</th>
                    <th class="time-col">Time</th>
                </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < Math.floor(data.buses.length / 3); i++) { %> 
                <tr>
                    <td class="num-col"><%= data.buses[i].number %> <% if (data.buses[i].change) { %> &rarr; <%= data.buses[i].change %><% } %></td>
                    <td class="status-col"><%= data.buses[i].status %></td>
                    <td class="time-col"><%= data.buses[i].time ? data.buses[i].time.toLocaleTimeString([], { timeZone: 'America/Chicago', hour: '2-digit', minute: '2-digit', hour12: true }) : "" %></td>                
                </tr>
            <% } %> 
            </tbody>
        </table>
    </div>
    <div class="row9-16">
        <table class="bus-table">
            <thead>
                <tr class="heading">
                    <th class="num-col">Bus # &rarr; Change</th>
                    <th class="status-col">Status</th>
                    <th class="time-col">Time</th>
                </tr>
            </thead>
            <tbody>
            <% for(let i = Math.floor(data.buses.length / 3); i < Math.floor(2 * data.buses.length / 3); i++) { %> 
                <tr>
                    <td class="num-col"><%= data.buses[i].number %> <% if (data.buses[i].change) { %> &rarr; <%= data.buses[i].change %><% } %></td>
                    <td class="status-col"><%= data.buses[i].status %></td>
                    <td class="time-col"><%= data.buses[i].time ? data.buses[i].time.toLocaleTimeString([], { timeZone: 'America/Chicago', hour: '2-digit', minute: '2-digit', hour12: true }) : "" %></td>                
                </tr>
            <% } %> 
            </tbody>
        </table>
    </div>
    <div class="row17-24">
        <table class="bus-table">
            <thead>
                <tr class="heading">
                    <th class="num-col">Bus # &rarr; Change</th>
                    <th class="status-col">Status</th>
                    <th class="time-col">Time</th>
                </tr>
            </thead>
            <tbody>
            <% for(let i = Math.floor(2 * data.buses.length / 3); i < data.buses.length; i++) { %> 
                <tr>
                    <td class="num-col"><%= data.buses[i].number %> <% if (data.buses[i].change) { %> &rarr; <%= data.buses[i].change %><% } %></td>
                    <td class="status-col"><%= data.buses[i].status %></td>
                    <td class="time-col"><%= data.buses[i].time ? data.buses[i].time.toLocaleTimeString([], { timeZone: 'America/Chicago', hour: '2-digit', minute: '2-digit', hour12: true }) : "" %></td>        
                </tr>
            <% } %> 
            </tbody>
        </table>
    </div>
</div>
<!-- TV STUFF END -->
